@model dynamic
<div class="contain">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                <form class="form_box forgot_form" role="form">
                    <h1 class="header_form">@Html.TitleForPage(T("Change Password").ToString()) </h1>
                    <p class="para_forgot">@T("Use the form below to change your password.")</p>
                    <p class="para_forgot">@T("New passwords are required to be a minimum of {0} characters in length.", ViewData["PasswordLength"]) </p>
                    @Html.ValidationSummary(T("Password change was unsuccessful. Please correct the errors and try again.").ToString())
                    @using (Html.BeginFormAntiForgeryPost())
                    {
                        <fieldset>
                            <h2>@T("Account Information")</h2>
                            <hr />
                            <div class="form-group">
                                <label for="currentPassword">@T("Current password:")</label>
                                @Html.Password("currentPassword", "", new { @class = "form-control", @placeholder = "Enter your current password" })
                                @Html.ValidationMessage("currentPassword")
                            </div>
                            <div class="form-group">
                                <label for="newPassword">@T("New password:")</label>
                                @Html.Password("newPassword", "", new { @class = "form-control", @placeholder = "Enter your new password" })
                                @Html.ValidationMessage("newPassword")
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">@T("Confirm new password:")</label>
                                @Html.Password("confirmPassword", "", new { @class = "form-control", @placeholder = "Confirm password" })
                                @Html.ValidationMessage("confirmPassword")
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default btn-main" type="submit">@T("Change Password")</button>
                            </div>
                        </fieldset>
                    }
                </form>
            </div>
        </div>
    </div>
</div>