<div class="contain">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                <div class="form_box forgot_form">
                    @Html.ValidationSummary(true, T("Password change was unsuccessful. Please correct the errors and try again.").ToString(), new { @class = "validation-summary-errors alert alert-danger" })
                    <h1>@Html.TitleForPage(T("Change Password").ToString())</h1>
                    <p>@T("New passwords are required to be a minimum of {0} characters in length.", ViewData["PasswordLength"]) </p>
                    @using (Html.BeginFormAntiForgeryPost())
                    {
                        <fieldset>
                            <h2>@T("Account Information")</h2>
                            <hr />
                            <div class="form-group">
                                <label for="newPassword">@T("New password:")</label>
                                @Html.Password("newPassword", "", new { @class = "form-control", @placeholder = "Enter password", required = true })
                                @Html.ValidationMessage("newPassword")
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">@T("Confirm new password:")</label>
                                @Html.Password("confirmPassword", "", new { @class = "form-control", @placeholder = "Confirm password", required = true })
                                @Html.ValidationMessage("confirmPassword")
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default btn-main" type="submit">@T("Change Password")</button>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>