<div class="contain">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                <div class="form_box forgot_form">
                    @Html.ValidationSummary(true, T("Lost password request was unsuccessful. Please correct the errors and try again.").ToString(), new { @class = "validation-summary-errors alert alert-danger" })
                    <h1>@Html.TitleForPage(T("Lost Password").ToString())</h1>
                    <p>@T("Please enter your username or email address. You will receive a link to create a new password via email.")</p>
                    @using (Html.BeginFormAntiForgeryPost())
                    {
                        <fieldset>
                            <h2>@T("Account Information")</h2>
                            <hr />
                            <div class="form-group">
                                <label for="username">@T("Email address:")</label>
                                @Html.TextBox("username", "", new { @class = "form-control", @placeholder = "Enter email address", type = "Email", required = true })
                                @Html.ValidationMessage("username")
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default btn-main" type="submit">@T("Send Request")</button>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>