@using Orchard.Utility.Extensions;
@using Orchard.Core.Common.Fields;
@using CommonUtility;
@{
    if (Model.Title != null)
    {
        Layout.Title = Model.Title;
    }

    Model.Classes.Add("content-item");

    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
    Model.Classes.Add(contentTypeClassName);
    var tag = Tag(Model, "article");

    if (WorkContext == null || WorkContext.CurrentUser == null)
    {
        // Issue a redirect to the login page
        HttpContext.Current.Response.Redirect("/Users/Account/LogOn");
        return;
    }

    var currentUser = WorkContext.CurrentUser;
    var userName = currentUser.UserName;
    var parts = currentUser.ContentItem.Parts.ToList();

    var contentParts = ((List<Orchard.ContentManagement.ContentPart>)parts).Where(p => p.GetType().FullName == "Orchard.ContentManagement.ContentPart").ToList();
    TextField foreName = FieldRender.Get<TextField>(contentParts, FieldType.TextField, "YourForename");
}
@tag.StartElement
<header>
    @Display(Model.Header)
    @if (Model.Meta != null)
    {
        <div class="metadata">
            @Display(Model.Meta)
        </div>
    }
</header>
<!-- Main Contain -->
<div class="contain">
    <div class="admin_box">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-8">
                        <div class="header_admin">
                            <h1>Welcome, @Html.Raw(!string.IsNullOrWhiteSpace(foreName.Value) ? foreName.Value : userName)</h1>
                            <p>What would you like to do today?</p>
                        </div><!--header_admin-->
                    </div>
                    @if (AuthorizedFor(Orchard.Security.StandardPermissions.AccessAdminPanel))
                    {
                        <div class="col-xs-4 btnbox_details">
                            <a href="@Url.Content("~/admin")" class="btn btn-default btn-main pull-right">Admin</a>
                        </div>
                    }
                </div><!--col-xs-12-->
                @Display(Model.Content)
            </div>
        </div>
        <!--dashbord_info-->
    </div><!--admin_box-->
</div><!-- End  Main Contain -->
@if (Model.Footer != null)
{
    <footer>
        @Display(Model.Footer)
    </footer>
}
@tag.EndElement

@using (Script.Foot())
{
    <script>
        //if (typeof(Storage) != "undefined")
        //{
        //    $(document).ready(function() {
        //        var isshow = sessionStorage.ShowWelcomePopup;
        //        if (isshow == null)
        //        {
        //            sessionStorage.ShowWelcomePopup = "1";
        //            $('.WelcomePopup').show();
        //        }
        //    });
        //}
    </script>
}

<style>
    .hover-link-text {
        color: rgb(99,94,94);
        font-size: 13px;
        font-weight: normal;
    }

    .hover-link:hover .hover-link-text {
        color: #f36f21 !important;
    }

    .needhelp-box a {
        color: black !important;
    }
</style>