@using Orchard.ContentManagement

@{
	var userCanRegister = WorkContext.CurrentSite.As<Orchard.Users.Models.RegistrationSettingsPart>().UsersCanRegister;
	var enableLostPassword = WorkContext.CurrentSite.As<Orchard.Users.Models.RegistrationSettingsPart>().EnableLostPassword;
	Html.TitleForPage("Login to Leafletdrop");
}
<meta name="title" content="Login to Leafletdrop"/>

<div class="contain">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
				@if (Request.Params["ec"] != null)
				{
					if (Request.Params["ec"] == "true")
					{
						<div class='alert alert-success alert-dismissible' role='alert'>
							<button type='button' class='close' data-dismiss='alert' aria-label='Close'>
								<span aria-hidden='true'>&times;</span>
							</button>
							Email successfully confirmed
						</div>
					}
					else if (Request.Params["ec"] == "false")
					{
						<div class='alert alert-danger alert-dismissible' role='alert'>
							<button type='button' class='close' data-dismiss='alert' aria-label='Close'>
								<span aria-hidden='true'>&times;</span>
							</button>
							Failed to confirm email, please contact support
						</div>
					}
				}

				@Html.ValidationSummary(true, T("Login was unsuccessful. Please correct the errors and try again.").ToString(), new { @class = "validation-summary-errors alert alert-danger" })

				@using (Html.BeginFormAntiForgeryPost(Url.Action("LogOn", new { ReturnUrl = Request.QueryString["ReturnUrl"] }), FormMethod.Post, new { @class = "form_box" }))
				{
					<h1 class="header_form">Log in to your account</h1>
					<div class="form-group">
						<label for="username-email">@T("Your Email")</label>
						@Html.TextBox("userNameOrEmail", "", new { id = "username-email", autofocus = "autofocus", @class = "form-control", @placeholder = "Enter your name" })
						@Html.ValidationMessage("userNameOrEmail")
					</div>
					<div class="form-group">
						<label for="password">@T("Your Password")</label>
						@Html.Password("password", "", new { @class = "form-control", @placeholder = "Enter your password" })
						@Html.ValidationMessage("password")
					</div>
					<div class="form-group">
						<button class="btn btn-default btn-main btn-lg" type="submit">@T("LOG IN")</button>
					</div>
					<div class="form-group">
						<a href="@Url.Content("~/Users/Account/Register")" class="linkbox_form">Don't have an account? <strong>Sign up</strong></a>
					</div>
					<div class="form-group">
						<a href="@Url.Content("~/Users/Account/RequestLostPassword")" class="linkbox_form">Forgot your password?</a>
					</div>
				}
				<!--End form-->

			</div><!--col-md-6 col-md-offset-3-->
		</div>
		<!--End row-->
	</div>
	<!--End Container-->
</div>